<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>NS | TEST</title>
	</head>
	<body>
        <section>
            <div class="banner-home" style="height:25%;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-xs-12 col-sm-12">
                            <h1 style="color:#000;margin-top:-175px;"><strong style="font-weight:400;font-size:60px;">File System Online</strong></h1>
                            <h4 style="color:#000;margin-top:0;">NS</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="services-home" style="margin-top:-50px;">
                <div class="container">
                </div>
            </div>
            <div class="services-bottom common-heading-1"> </div>
			<div class="testmonials-news">
      			<div class="container">
                    <div class="row">
                    </div>
                </div>
            </div>
            
        </section>
    </body>
</html>